* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    overflow: hidden;
    
}

.container{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000;

}

.box{
 position: absolute;
 width: 350px;
 height: 350px;
 transform-style: preserve-3d;

 /* Transform */
 transform: rotateY(130deg) rotateX(130deg);

}

.box div {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(350px / 4), 1fr));
    gap: 4px;
    padding: 4px;

}

.top {
    bottom:175px;
    transform:rotateX(90deg);
}

.bottom {
    top:175px;
    transform:rotateX(-90deg);
}

.left {
    right:175px;
    transform:rotateY(-90deg);
}

.right {
    left:175px;
    transform:rotateY(90deg);
}

.front{
    transform:translateZ(175px);
}

.back{
    transform:translateZ(-175px);
}

.box div span {
    height: calc(350px / 3 - 6px);
    background: var(--clr);
    border-radius: 10px;
    position: relative;
    z-index: -1;
    overflow: hidden;
    text-align: center;
    overflow: hidden;

}

.box div > span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    background: linear-gradient(to bottom right, var(--clr) 60%, #bfbfbf);
    box-shadow: -10px -20px 30px rgba(0, 0, 0, .2);
    z-index: -1;
}

.box div > span::after {
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    top: 0;
    left: 0;
    background: linear-gradient(#ffffff44 50%, transparent 50%);
    z-index: -1;
    backdrop-filter: blur(2px);
    transform: rotate(-40deg);
}

